* {
    box-sizing: border-box;
}

html,
body {
    background-color: hsl(30, 38%, 92%);
    position: relative;
}

main {
    display: grid;
    grid-template-columns: 290px 290px;
    align-items: center;
    justify-content: center;
    max-height: 450px;
    margin: 0 auto;
    position: absolute;
    top: 150px;
    left: 550px;
    overflow: hidden;
    border-radius: 12px;
}

.image-1 {
    grid-column: 1/1;
    width: 290px;
    height: 450px;
    background-image: url('../images/image-product-desktop.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.text-content {
    background-color: hsl(0, 0%, 100%);
    width: 290px;
    height: 450px;
    padding: 28px;
    ;
}

.preview-head {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 5px;
    margin: 1.8px auto;
    color: #878794;
}

.product-name {
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin: 22px auto;
    line-height: 1;
    text-shadow: 1.5px 0 black;
    letter-spacing: 2px;
    font-weight: bold;
}

.product-desc {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 1.8px auto;
    line-height: 1.7;
    color: #878794;
}

.price {
    margin: 27px 10px 15px 0px;
    position: relative;
}

.dis-price {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', sans-serif;
    font-size: 30px;
    text-shadow: 1px 0 hsl(160, 19%, 57%);
    font-weight: bold;
    letter-spacing: 2px;
}

.og-price {
    float: top-right;
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    color: #878794;
    font-weight: bold;
    text-decoration: line-through;
}

.button-cart {
    background-color: hsl(158, 36%, 37%);
    border-radius: 12px;
    font-size: 13px;
    padding: 15px;
    width: 235px;
    height: 50px;
    margin-top: 14px;
    border: none;
}

.add-cart {
    padding-left: 12px;
    color: #f9fdfa;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


/* img {
    width: fit-content;
    height: fit-content;
} */